body {
	background-color:gray;
  padding: 50px;
  font:white;
}

.container{
    margin-top: 100px;
    margin-bottom: 300px;
    text-align: center;
    background-color: #ccc;
    border-style: solid;
     border-color: orange;
  }
.buttom{
  margin: 50px;
}



.textarea{
  background-color: #ccc;
  border-style: solid;
  border-color: orange;
  width: 100%;
}

